apiVersion: apps/v1
kind: Deployment
metadata:
  name: tavola-backend
spec:
  replicas: 2 # Exemplo com 2 réplicas (Pods)
  selector:
    matchLabels:
      app: tavola-backend
  template:
    metadata:
      labels:
        app: tavola-backend
    spec:
      # --- SEÇÃO DE VOLUMES ---
      volumes:
        - name: uploads-storage # 1. Damos um nome para nosso volume
          persistentVolumeClaim:
            claimName: tavola-uploads-pvc # 2. Dizemos que ele usa o PVC que criamos
        - name: nginx-config-volume # Volume para a configuração do Nginx
          configMap:
            name: nginx-config

      # --- SEÇÃO DE CONTÊINERES ---
      containers:
        # SEU CONTÊINER DA API JAVA
        - name: tavola-api-container
          image: seu-usuario-docker/tavola-app:latest # <<< USE A SUA IMAGEM DOCKER
          ports:
            - containerPort: 8080
          # 3. Montamos o volume no caminho que definimos no Java
          volumeMounts:
            - mountPath: /app/uploads
              name: uploads-storage

        # O NOVO CONTÊINER "AJUDANTE" NGINX
        - name: nginx-sidecar-container
          image: nginx:latest
          ports:
            - containerPort: 8081
          # 4. Montamos o MESMO volume no MESMO caminho
          volumeMounts:
            - mountPath: /app/uploads
              name: uploads-storage
            - mountPath: /etc/nginx/conf.d/default.conf # Monta o arquivo de configuração
              name: nginx-config-volume
              subPath: nginx.conf