version: '3.8'

services:
  # ==========================================
  # 1. SERVIÇO DE BANCO DE DADOS
  # ==========================================
  db:
    image: postgres:16
    container_name: tavola_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Aluno
      POSTGRES_DB: tavola_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - tavola-network
    # Healthcheck garante que o banco subiu antes do backend tentar conectar
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # ==========================================
  # 2. BACKEND (Spring Boot)
  # ==========================================
  backend:
    build:
      context: ./TavolaApp
      dockerfile: Dockerfile
    container_name: tavola_backend
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
    environment:
      # Conecta usando o NOME DO SERVIÇO 'db'
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/tavola_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: Aluno
      # Caminho interno do container (fixo)
      APP_UPLOAD_DIR: /app/uploads
      # CORS: Permite que o próprio Nginx local fale com ele
      APP_CORS_ALLOWED_ORIGINS: "*" 
    volumes:
      # Volume persistente para as fotos não sumirem
      - tavola-uploads:/app/uploads
    networks:
      - tavola-network

  # ==========================================
  # 3. FRONTEND (Angular + Nginx)
  # ==========================================
  frontend:
    build:
      context: ./TavolaFront
      dockerfile: Dockerfile
    container_name: tavola_frontend
    restart: on-failure
    depends_on:
      - backend
    ports:
      - "80:80" # A única porta exposta para o mundo
    networks:
      - tavola-network

# Definição dos Volumes e Redes
volumes:
  postgres-data:
  tavola-uploads: # Volume compartilhado/persistente para uploads

networks:
  tavola-network:
    driver: bridge