<div class="dialog-header">
    <mat-icon class="success-icon">check_circle</mat-icon>
    <h2 mat-dialog-title>Reserva Confirmada!</h2>
  </div>
  
  <mat-dialog-content class="dialog-content">
    <p>Sua reserva no <strong>{{ data.nomeRestaurante }}</strong> foi efetuada com sucesso.</p>
    
    <nz-divider></nz-divider>
    
    <div class="detalhes-reserva">
      <div class="detalhe-item">
        <mat-icon>group</mat-icon>
        <span>{{ data.quantidadePessoas }} {{ data.quantidadePessoas > 1 ? 'pessoas' : 'pessoa' }}</span>
      </div>
  
      <div *ngIf="data.comentarios" class="detalhe-item">
        <mat-icon>comment</mat-icon>
        <span>{{ data.comentarios }}</span>
      </div>
    </div>
  
    <button mat-flat-button color="primary" class="google-calendar-btn" (click)="adicionarAoGoogleCalendar()">
      <img src="assets/svg/google-calendar.svg" alt="Google Calendar Icon" class="google-icon">
      Adicionar ao Google Calendar
    </button>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    <button mat-button (click)="fecharDialog()">Fechar</button>
  </mat-dialog-actions>