<form class="search-bar" (ngSubmit)="onSearch()" autocomplete="off" [@searchBarAnim]>
  <div class="input-group" id="searchBarHome">
    <!-- Campo Cidade com Autocomplete -->
    <mat-form-field appearance="outline" class="custom-field location">
      <!-- <mat-label>Cidade</mat-label> -->
      <mat-icon matPrefix class="icon brown">location_on</mat-icon>
      <input matInput placeholder="Cidade" [formControl]="cityCtrl" [matAutocomplete]="autoCity" required class="brown-text city-input">
      <mat-autocomplete #autoCity="matAutocomplete">
        <mat-option *ngFor="let city of filteredCities$ | async" [value]="city">
          <mat-icon class="icon brown">location_on</mat-icon> {{city}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- Campo Cozinha/Restaurante SEM Autocomplete -->
    <mat-form-field appearance="outline" class="custom-field query">
      <!-- <mat-label>Nome do restaurante</mat-label> -->
      <mat-icon matPrefix class="icon brown">search</mat-icon>
      <input matInput placeholder="Nome do restaurante..." [formControl]="queryCtrl" class="brown-text long-query">
    </mat-form-field>

    <!-- Botões container para mobile -->
    <div class="buttons-container">
      <!-- Botão de filtros -->
      <button type="button" class="filtros-btn tavola-tooltip" (click)="onFiltrosClick()" matTooltip="Filtros de busca" matTooltipClass="tavola-tooltip" [matTooltipDisabled]="isMobile">
        <mat-icon>tune</mat-icon>
        <span class="btn-text">Filtros</span>
      </button>

      <!-- Botão de busca -->
      <button class="search-btn" type="submit">
        <mat-icon>search</mat-icon>
        <span class="btn-text">PROCURAR</span>
      </button>
    </div>
  </div>
</form> 