.login-card {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff7e6;
  border-radius: 10px;
  padding: 20px;
}

.p-tabview .p-tabpanel-header {
  background-color: #ff6f61;
  color: white;
}

.p-button-primary {
  background-color: #ff6f61;
  border-color: #ff6f61;
}

.p-button-success {
  background-color: #ffca28;
  border-color: #ffca28;
}

.p-field label {
  color: #ff6f61;
}
