.custom-menubar-container {
  background-color: #f0f0f0; /* Cor de fundo da div */
  padding: 10px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.custom-menubar {
  background-color: #faa330; /* Cor de fundo do menubar */
  border: none; /* Remove a borda do menubar */
}

.custom-menubar .p-menuitem-link {
  color: white; /* Cor do texto do menu */
}

.custom-button-container .p-button {
  font-size: 16px !important; /* Tamanho da fonte do texto do botão */
  color: white !important; /* Cor do texto do botão */
}

::ng-deep .p-menubar {
  background-color: #faa330 !important; /* Cor de fundo laranja */
  border: none;
  box-shadow: none;
}



.custom-menu-item {
  color: #fff !important; /* Cor branca para os itens do menu */
}

.custom-menu-item:hover {
  color: #fff !important; /* Cor branca ao passar o mouse */
}


