<div id="panel">
  <h1>Restaurante</h1>
  <label for="latitudeInput">Latitude:</label>
  <input id="latitudeInput"
         type="number"
         [(ngModel)]="latitude"
         (ngModelChange)="updateMap()"
         placeholder="Latitude"
         step="0.0001" min="-90" max="90">

  <label for="longitudeInput">Longitude:</label>
  <input id="longitudeInput"
         type="number"
         [(ngModel)]="longitude"
         (ngModelChange)="updateMap()"
         placeholder="Longitude"
         step="0.0001" min="-180" max="180">

  <div id="button-container">
    <button pButton
            label="Salvar Restaurante"
            icon="pi pi-save"
            (click)="salvarCoordenadas()"
            class="p-button-success p-button-lg"
            [disabled]="!latitude || !longitude">
    </button>
  </div>

  <div id="calculate-route-container" style="margin-top: 1px;">
    <button pButton label="Calcular Rota" icon="pi pi-refresh" (click)="calcularRotas()" class="p-button-info p-button-lg mt-2" [disabled]="!latitude || !longitude">
    </button>
  </div>

</div>

<!-- Toast deve estar aqui -->
<p-toast></p-toast>

<div id="map" style="height: 5500px; width: 100%;"></div>
