<div class="banner" #banner>
  <div class="banner-content">
    <div class="banner-row">
      <div class="banner-left">
        <h1>Descubra e reserve o melhor restaurante</h1>
        <div #searchSentinel></div>
        <div class="search-wrapper">
          <app-search-bar
            *ngIf="!stickySearch"
            #searchBarHome
            [cidade]="cidade"
            [query]="query"
            [citySuggestions]="filteredCitySuggestions"
            [querySuggestions]="querySuggestions"
            [showCityDropdown]="showCityDropdown"
            [showQueryDropdown]="showQueryDropdown"
            [cityCtrl]="cityCtrl"
            [queryCtrl]="queryCtrl"
            [filteredCities$]="filteredCities$"
            [filteredQueries$]="filteredQueries$"
            (cidadeChange)="cidade = $event"
            (queryChange)="query = $event"
            (search)="onSearch()"
            (cityInput)="onCityInput($event)"
            (selectCity)="selectCity($event)"
            (selectQuery)="selectQuery($event)"
            (cityBlur)="onCityBlur($event)"
          ></app-search-bar>
        </div>
      </div>
      <div class="banner-right">
        <img src="assets/png/Pizza.png" alt="Pizza" class="pizza-img" />
      </div>
    </div>
    <div class="city-dropdown-absolute" *ngIf="showCityDropdown">
      <div class="dropdown city-dropdown">
        <input class="dropdown-city-search" type="text" placeholder="Digite a cidade..." [(ngModel)]="cidade" (input)="onCityInput($event)" autofocus>
        <div class="dropdown-item brown-text highlight" (mousedown)="selectCity('Perto de mim')">
          <mat-icon class="icon brown">send</mat-icon> Perto de mim
        </div>
        <div class="dropdown-title">Sugestões</div>
        <div class="dropdown-item brown-text" *ngFor="let city of filteredCitySuggestions" (mousedown)="selectCity(city)">
          <mat-icon class="icon brown">location_on</mat-icon> {{city}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="restaurants-section" [class.sidebar-aberta]="isSidebarOpen">
  <div *ngFor="let cuisine of getCuisineTypes()" class="cuisine-group">
    <div class="cuisine-header">
      <h2>{{ cuisine }}</h2>
      <div class="navigation-arrows">
        <button mat-icon-button (click)="scrollRestaurants(cuisine, 'left')" [disabled]="!canScrollLeft(cuisine)">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button (click)="scrollRestaurants(cuisine, 'right')" [disabled]="!canScrollRight(cuisine)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="scrollable-restaurants" #scrollContainer [attr.data-cuisine]="cuisine" (scroll)="onRestaurantScroll($event, cuisine)">
      <div class="restaurants-grid">
        <div class="restaurant-card" *ngFor="let r of groupedRestaurants[cuisine]" (click)="navigateToRestaurante(r)">
          <img [src]="r.imagem" [alt]="r.nome" class="restaurant-img" />
          <div class="restaurant-info">
            <div class="restaurant-address">{{ r.enderecoFormatado }}</div>
            <div class="restaurant-name">{{ r.nome }}</div>
            <div class="restaurant-rating">
              <mat-icon *ngFor="let star of [1,2,3,4,5]" class="star" [ngClass]="{'filled': star <= getStarCount(r.avaliacao)}">star</mat-icon>
              <span class="rate-number">{{ r.avaliacao }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>