<div class="banner">
    <div class="banner-content">
      <div class="banner-row">
        <div class="banner-left">
          <h1>Descubra e reserve o melhor restaurante</h1>
          <form class="search-bar" (ngSubmit)="onSearch()">
            <div class="input-group">
  
              <!-- Campo Cidade com Autocomplete -->
              <mat-form-field appearance="outline" class="location">
                <mat-icon matPrefix class="brown">location_on</mat-icon>
                <input
                  matInput
                  placeholder="Cidade"
                  [formControl]="cityCtrl"
                  [matAutocomplete]="autoCity">
                <mat-autocomplete
                  #autoCity="matAutocomplete"
                  [displayWith]="_displayFn">
                  <mat-option *ngFor="let city of filteredCities$ | async" [value]="city">
                    {{ city }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
  
              <!-- Campo Cozinha/Restaurante com Autocomplete -->
              <mat-form-field appearance="outline" class="query">
                <mat-icon matPrefix class="brown">search</mat-icon>
                <input
                  matInput
                  placeholder="Cozinha, nome do restaurante..."
                  [formControl]="queryCtrl"
                  [matAutocomplete]="autoQuery"
                  style="font-style: italic; font-size: 0.98rem;">
                <mat-autocomplete
                  #autoQuery="matAutocomplete"
                  [displayWith]="_displayFn">
                  <mat-option *ngFor="let q of filteredQueries$ | async" [value]="q">
                    {{ q }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
  
              <!-- Botão de busca -->
              <button class="search-btn" mat-raised-button color="accent" type="submit">
                PROCURAR
              </button>
  
            </div>
          </form>
        </div>
        <div class="banner-right">
          <img src="assets/png/Pizza.png" alt="Pizza" class="pizza-img" />
        </div>
      </div>
    </div>
  </div>
  