<div class="form-container">

  <img src="assets/L2ns.png" alt="Logo" style="height: 150px; border: none;">
  <h1>Login</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mt-5">
      <p-floatLabel>
        <input id="username" pInputText type="text" formControlName="username"/>
        <label for="username">Nome</label>
      </p-floatLabel>
    </div>
    <div class="mt-5">
      <p-floatLabel>
        <input id="password" pInputText type="password" formControlName="password"/>
        <label for="password">Senha</label>
      </p-floatLabel>
    </div>
    <div class="mt-5">
      <p-button label="Enviar" type="submit"></p-button>
    </div>
  </form>
</div>
